*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    height: 100vh;
    width: 100vw;

   
}

#container
{
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #1c1c1c;
    
    border: 20px solid black;
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 5px;

    

}
input
{
    color: white;
    background-color: #1c1c1c;

    
    border:0;
    font-size: 64px;
    padding:0 32px;
    flex-grow: 1;
    text-align: right;
    

 
}
.button-grid
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    flex-grow: 2;
}
button{
    border-radius: 50%;
    height: 80%;
    width: 80%;
    background-color: #505050;
    color: white;
    font-size: 24px;
    place-self: center;
    cursor: pointer;
    transition-property:transform ;
    transition-duration: 200ms;

}
button:active
{
    transform: scale(0.85);
}
.zero
{
    grid-column: span 2;
    border-radius: 40%;
}
.gray-button
{
    background-color: grey;
    color: white;
}
.yellow-button
{
    background-color: darkgoldenrod;
    color: white;
}
